notebooks/*/code/build/**
!notebooks/*/code/build/.gitkeep
labs/*/code/build/**
!labs/*/code/build/.gitkeep
homeworks/*/code/build/**
!homeworks/*/code/build/.gitkeep

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

.DS_Store
.OTTER_LOG
__pycache__/
.ipynb_checkpoints/
